body {
    margin: 0;
    padding: 0;
    background-color: #0a0a0a;
    color: white;
    font-family: Arial, sans-serif;
}

/* Navigation Bar */
.logo img {
    height: auto;
    width: 40px; 
    margin-right: 450px; 
}

header {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    align-items: center;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    gap: 60px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    opacity: 0.7; 
}
nav ul li a.active {
    opacity:1;
}
nav ul li a:hover {
    opacity: 1;
}

/* Hero Section */

.hero {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 150px;
    margin-bottom: 150px;
}

.content h1 {
    font-size: 70px;
    margin: 5px 0;
}
.content p {
    margin: 0;
}
.highlight {
    color: #7d3cff;
}

.arrow {
    height: auto;
    width: 45px;
}

.description {
    max-width: 400px;
    line-height: 1.5;
}

.image-container {
    position: relative;
}

.image-container img {
    width: 600px;
    position: relative;
}


/* About Me Section */

.header {
    text-align: left;
}

.bigtext{
    font-size: 70px;
    font-weight: bold;
    margin: 0;
}
.description {
    max-width: 500px;
    margin-top: 10px;
    font-size: 18px;
}
.stats {
    display: flex;
    gap: 20px;
    margin-top: 30px;
}
.stat-box {
    background: #080808;
    padding: 30px;
    text-align: center;
    flex: 1;
    border-radius: 8px;
}
.stat-box h2 {
    font-size: 30px;
    color: #6A5ACD;
}
.features {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}
.feature-box {
    flex: 1;
    padding: 20px;
    text-align: center;
}
.feature-box h3 {
    margin-top: 10px;
    font-size: 22px;
}
.feature-box p {
    font-size: 16px;
    color: #aaa;
}
#horizontal-line {
    margin-top: 50px;
    border: 1px solid #6A5ACD;
    border-width: 80%;
}

/* My Completed Projects Section */

.container {
    max-width: 1200px;
    margin: auto;
}
.section1 {
    padding-top: 30px;
    background-color: #222222;
    padding-bottom: 30px;
    display: flex;
}
.section2{
    padding-top: 30px;
    padding-bottom: 50px;
}
.section3 {
    padding-top: 30px;
    background-color: #222222;
    padding-bottom: 20px;
}
.header {
    text-align: left;
}
.header h1 {
    font-size: 50px;
    font-weight: bold;
}
.header h1 span {
    color: #00BFFF;
}
.description {
    max-width: 500px;
    margin-top: 10px;
    font-size: 18px;
}
.projects {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    margin-top: 30px;
}
.project-box {
    background: #222;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid #00BFFF;
}
.project-box img {
    width: 100%;
    border-radius: 10px;
}
.project-box h3 {
    margin: 10px 0;
}
.tags {
    margin-top: 10px;
}
.tag {
    display: inline-block;
    padding: 5px 10px;
    border-radius: 5px;
    margin-right: 5px;
    font-size: 14px;
    cursor: pointer;
}
.ios {
    background-color: #6A5ACD;
}
.android {
    background-color: #C71585;
}


/* Contact Me Section */


.header h1 {
    font-size: 50px;
    font-weight: bold;
}
.header h1 span {
    color: #00BFFF;
}
.form-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    margin-top: 30px;
    margin-bottom: 50px;
}
.form-container div {
    padding-top: 30px;
    padding-bottom: 30px;
}
.full-width {
    grid-column: span 2;
}
label {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
    color: #bbb;
}
input, textarea {
    width: 100%;
    padding: 10px;
    background: transparent;
    border: none;
    border-bottom: 1px solid #444;
    color: white;
    font-size: 16px;
    outline: none;
}
.submit-btn {
    background-color: #1E90FF;
    color: white;
    border: none;
    padding: 15px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    border-radius: 5px;
    width: 100%;
    margin-bottom: 20px;
}
.social-icons {
    margin-top: 20px;
    text-align: right;
}
.social-icons img {
    width: 30px;
    margin-left: 10px;
    cursor: pointer;
}
.copyright {
    text-align: center;
    margin-top: 30px;
    font-size: 14px;
    color: #bbb;
}

/* Mobile Application Responsive */

@media screen and (max-width: 650px) {
    header {
        flex-direction: column;
        text-align: center;
    }
    .logo img {
        margin: 0px;
    }
    nav ul {
        flex-direction: column;
        gap: 15px;
        position: relative;
        right: 15px;
    }
    
    .hero {
        flex-direction: column;
        text-align: center;
        margin-top: 30px;
        margin-bottom: 50px;
    }
    
    .content h1 {
        font-size: 30px;
    }
    .arrow {
        height: auto;
        width: 25px;
    }
    .description {
        font-size: 16px;
        padding: 0px 20px 0px 20px;
        margin-bottom: 20px;
    }
    
    .image-container img {
        width: 80%;
        margin-top: 50px;
    }
        
    .container {
        padding: 0px 20px;
    }
    
    .bigtext {
        font-size: 30px;
    }
    .aboutme {
        display: none;
    }
    .stats {
        flex-direction: column;
        align-items: center;
    }
    
    .features {
        flex-direction: column;
        gap: 20px;
    }
    
    .projects {
        grid-template-columns: 1fr;
    }
    
    .form-container {
        grid-template-columns: 1fr;
    }
    
    .social-icons {
        text-align: center;
    }
}
